table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
}

th {
  background-color: #f8fafc;
}

.error {
  color: red;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}
